
<div class="banner"></div>

<div class="banner__text">
  <h1>Copsewood Aviaries</h1>

  <h2>
    Breeding the finest small birds, <br>
    parrots and poultry in Ireland.
  </h2>
  
  <button href="/contact" class="btn">
    Inquire about a bird
  </button>
</div>

<div class="banner__image">
  <img src="images/birds/lovebird.jpg" alt="">
</div>