
<div class="banner">

    <div class="row">
      <div class="col-md-12 col-lg-5 banner__text">
        <h1>Copsewood Aviaries</h1>

        <h2>
          Breeding the finest small birds, <br>
          parrots and poultry in Ireland.
        </h2>

        <a href="/contact" class="btn">
          Inquire about a bird
        </a>
      </div>
      <div class="col-md-12 col-lg-7 banner__image">
        <img src="images/lovebird.jpg" alt="">
      </div>
    </div>

</div> <!-- banner -->
