
<div class="bird-categories"></div>

<div class="bird-categories-container row">
    <div class="card">
      <div class="card-header">Large Parrots</div>

      <img src="images/birds/amazon.jpg" alt="amazon parrot">

      <div class="card-body">
        <p class="card-text">
          Large sized parrots require great care and an experienced owner. Some species of large parrots that we have here are African Greys, Amazonz, Macaws, Eclectus and Cockatoos.
        </p>

        <button type="button" name="button" class="btn btn__primary" id="view-large-parrots">View</button>
      </div>
    </div>
  </div>
</div> 