
<div class="birds-for-sale">
  <div class="container">
    <div class="row justify-content-center">

      <div class="col-xl-6 col-sm-12">
        <div class="card">
          <div class="card-header">Large Parrots</div>
          <img src="images/amazon.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">
              Large sized parrots require great care and an experienced owner. Some species of large parrots that we have here are African Greys, Amazonz, Macaws, Eclectus and Cockatoos.
            </p>
          </div>
          <div class="card-body text-right">
            <button type="button" name="button" class="btn">View</button>
          </div>
        </div>
      </div> <!-- Large Parrots -->

      <div class="col-xl-6 col-sm-12">
        <div class="card">
          <div class="card-header">Medium Parrots</div>
          <img src="images/sun-conures.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">
              Medium sized parrots are ideal for someone who may not be able to handle a larger bird. Some species of medium parrots that we have here are Cockatiels, Conures, Indian Ringnecks, Quakers and Caiques.
            </p>
          </div>
          <div class="card-body text-right">
            <button type="button" name="button" class="btn">View</button>
          </div>
        </div>
      </div> <!-- Medium Parrots -->

      <div class="col-xl-6 col-sm-12">
        <div class="card">
          <div class="card-header">Small Parrots</div>
          <img src="images/lovebird-pair.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">
              Small sized parrots are ideal for beginners and don't require the volume of care that a larger bird needs. Some species of small parrots that we have here are Finches, Canaries, Lovebirds and Parakeets.
            </p>
          </div>
          <div class="card-body text-right">
            <button type="button" name="button" class="btn">View</button>
          </div>
        </div>
      </div> <!-- Small Parrots -->

      <div class="col-xl-6 col-sm-12">
        <div class="card">
          <div class="card-header">Poultry</div>
          <img src="images/chicken.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">
              Poultry are domesticated birds kept by humans for their eggs, their meat or their feathers. We have a wide variety of poultry at Copsewood that includes chicken, turkey, duck and geese.
            </p>
          </div>
          <div class="card-body text-right">
            <button type="button" name="button" class="btn">View</button>
          </div>
        </div>
      </div> <!-- Poultry -->

    </div>
  </div>
</div>
