<div class="bird-categories">
  <div class="row wrapper">
    <div class="card">
      <h4 class="card__header">Large Parrots</h4>
      <img src="images/birds/amazon.jpg" alt="amazon parrot">
      <div class="card__body">
        <p class="card__text">
          Large sized parrots require great care and an experienced owner. Some species of large parrots that we have here are African Greys, Amazonz, Macaws, Eclectus and Cockatoos.
        </p>
        <button type="button" name="button" class="btn btn__primary" id="view-large-parrots">View</button>
      </div>
    </div><!-- card 1 -->

    <div class="card">
      <h4 class="card__header">Large Parrots</h4>
      <img src="images/birds/amazon.jpg" alt="amazon parrot">
      <div class="card__body">
        <p class="card__text">
          Large sized parrots require great care and an experienced owner. Some species of large parrots that we have here are African Greys, Amazonz, Macaws, Eclectus and Cockatoos.
        </p>
        <button type="button" name="button" class="btn btn__primary" id="view-large-parrots">View</button>
      </div>
    </div> <!-- card 2 -->
    
    <div class="card">
      <h4 class="card__header">Large Parrots</h4>
      <img src="images/birds/amazon.jpg" alt="amazon parrot">
      <div class="card__body">
        <p class="card__text">
          Large sized parrots require great care and an experienced owner. Some species of large parrots that we have here are African Greys, Amazonz, Macaws, Eclectus and Cockatoos.
        </p>
        <button type="button" name="button" class="btn btn__primary" id="view-large-parrots">View</button>
      </div>
    </div> <!-- card 3 -->

    <div class="card">
      <h4 class="card__header">Large Parrots</h4>
      <img src="images/birds/amazon.jpg" alt="amazon parrot">
      <div class="card__body">
        <p class="card__text">
          Large sized parrots require great care and an experienced owner. Some species of large parrots that we have here are African Greys, Amazonz, Macaws, Eclectus and Cockatoos.
        </p>
        <button type="button" name="button" class="btn btn__primary" id="view-large-parrots">View</button>
      </div>
    </div><!-- card 4 -->
  </div><!-- row wrapper -->
</div><!-- bird-categories -->
