.header {
	@extend .header-font;
	grid-column: 1 / span 12;
	grid-row: 1 / span 1;
	background-color: $primary;
	padding: 10px 0px;

	.wrapper {
		padding: 0 40px;
	}

	.row {
		justify-content: space-between;
		align-items: center;
	}

	.brand {
		div {
			vertical-align: middle;
			display: inline;
		}

		img {
			vertical-align: middle;
			margin-right: 10px;
			width: 60px;
			height: 60px;
		}
	} // brand

	.menu {
		display: none;

		img {
			width: 40px;
		}

		button {
			background: none;
			border: none;

			&:hover {
				cursor: pointer;
			}
		}
	} // menu
} // header
