nav {
	display: inline;
}

.navigation {
	background-color: $light;
	grid-column: 1 / span 12;
	grid-row: 2 / span 1;

	.navigation__group {
		list-style: none;
	}

	.navigation__item {
		@extend .navbar-font;

		a {
			color: $dark;
			text-decoration: none;
			padding: 8px 12px;

			&:hover {
				background-color: $secondary;
				color: $light;
			}

			&:active {
				color: $dark;
			}
		}
	}
}
