@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600|Raleway:700");
/* 
  fluid-type($min-v, $max-v, $min_font, $max_font);
*/
.header-font, .header {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  color: #efe9df; }
  .header-font, .header {
    font-size: 28px; }
    @media screen and (min-width: 600px) {
      .header-font, .header {
        font-size: calc( 28px + 6 * ((100vw - 600px) / 850)); } }
    @media screen and (min-width: 1450px) {
      .header-font, .header {
        font-size: 34px; } }

.banner-header-font, .banner__text h1 {
  font-family: 'Raleway', sans-serif;
  color: #efe9df; }
  .banner-header-font, .banner__text h1 {
    font-size: 36px; }
    @media screen and (min-width: 600px) {
      .banner-header-font, .banner__text h1 {
        font-size: calc( 36px + 12 * ((100vw - 600px) / 850)); } }
    @media screen and (min-width: 1450px) {
      .banner-header-font, .banner__text h1 {
        font-size: 48px; } }

.banner-sub-header-font, .banner__text h2 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  color: #efe9df; }
  .banner-sub-header-font, .banner__text h2 {
    font-size: 24px; }
    @media screen and (min-width: 600px) {
      .banner-sub-header-font, .banner__text h2 {
        font-size: calc( 24px + 8 * ((100vw - 600px) / 850)); } }
    @media screen and (min-width: 1450px) {
      .banner-sub-header-font, .banner__text h2 {
        font-size: 32px; } }

.sub-header-font, .section h2, .welcome h3, .btn__primary {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  color: #e23406; }
  .sub-header-font, .section h2, .welcome h3, .btn__primary {
    font-size: 24px; }
    @media screen and (min-width: 600px) {
      .sub-header-font, .section h2, .welcome h3, .btn__primary {
        font-size: calc( 24px + 6 * ((100vw - 600px) / 850)); } }
    @media screen and (min-width: 1450px) {
      .sub-header-font, .section h2, .welcome h3, .btn__primary {
        font-size: 30px; } }

.section-header-font, .section h3 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  color: #e23406; }
  .section-header-font, .section h3 {
    font-size: 18px; }
    @media screen and (min-width: 600px) {
      .section-header-font, .section h3 {
        font-size: calc( 18px + 4 * ((100vw - 600px) / 850)); } }
    @media screen and (min-width: 1450px) {
      .section-header-font, .section h3 {
        font-size: 22px; } }

.navbar-font, .navigation .navigation__item {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  color: #e23406; }
  .navbar-font, .navigation .navigation__item {
    font-size: 22px; }
    @media screen and (min-width: 600px) {
      .navbar-font, .navigation .navigation__item {
        font-size: calc( 22px + 2 * ((100vw - 600px) / 850)); } }
    @media screen and (min-width: 1450px) {
      .navbar-font, .navigation .navigation__item {
        font-size: 24px; } }

.body-font, p, .welcome p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: #191512; }
  .body-font, p, .welcome p {
    font-size: 14px; }
    @media screen and (min-width: 600px) {
      .body-font, p, .welcome p {
        font-size: calc( 14px + 6 * ((100vw - 600px) / 850)); } }
    @media screen and (min-width: 1450px) {
      .body-font, p, .welcome p {
        font-size: 20px; } }

.footer-header-font, .card-header-font, .bird-list__container .bird-list__item .bird-list__item__header, .card .card__header, .list-header-font, .birds-for-sale .bird-list__nav .bird-list__header, .footer .wrapper h3 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  color: #efe9df; }
  .footer-header-font, .card-header-font, .bird-list__container .bird-list__item .bird-list__item__header, .card .card__header, .list-header-font, .birds-for-sale .bird-list__nav .bird-list__header, .footer .wrapper h3 {
    font-size: 20px; }
    @media screen and (min-width: 600px) {
      .footer-header-font, .card-header-font, .bird-list__container .bird-list__item .bird-list__item__header, .card .card__header, .list-header-font, .birds-for-sale .bird-list__nav .bird-list__header, .footer .wrapper h3 {
        font-size: calc( 20px + 4 * ((100vw - 600px) / 850)); } }
    @media screen and (min-width: 1450px) {
      .footer-header-font, .card-header-font, .bird-list__container .bird-list__item .bird-list__item__header, .card .card__header, .list-header-font, .birds-for-sale .bird-list__nav .bird-list__header, .footer .wrapper h3 {
        font-size: 24px; } }

.footer-body-font, .card-body-font, .card .card__body .card__text, .footer .wrapper div, .footer .wrapper a, .footer .footer__location {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: #efe9df; }
  .footer-body-font, .card-body-font, .card .card__body .card__text, .footer .wrapper div, .footer .wrapper a, .footer .footer__location {
    font-size: 16px; }
    @media screen and (min-width: 600px) {
      .footer-body-font, .card-body-font, .card .card__body .card__text, .footer .wrapper div, .footer .wrapper a, .footer .footer__location {
        font-size: calc( 16px + 2 * ((100vw - 600px) / 850)); } }
    @media screen and (min-width: 1450px) {
      .footer-body-font, .card-body-font, .card .card__body .card__text, .footer .wrapper div, .footer .wrapper a, .footer .footer__location {
        font-size: 18px; } }

.card-body-font, .card .card__body .card__text {
  color: #191512; }

.card-button-font, .card .card__body button {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  color: #efe9df; }
  .card-button-font, .card .card__body button {
    font-size: 14px; }
    @media screen and (min-width: 600px) {
      .card-button-font, .card .card__body button {
        font-size: calc( 14px + 4 * ((100vw - 600px) / 850)); } }
    @media screen and (min-width: 1450px) {
      .card-button-font, .card .card__body button {
        font-size: 18px; } }

.list-header-font, .birds-for-sale .bird-list__nav .bird-list__header {
  color: #191512; }
  .list-header-font, .birds-for-sale .bird-list__nav .bird-list__header {
    font-size: 12px; }
    @media screen and (min-width: 600px) {
      .list-header-font, .birds-for-sale .bird-list__nav .bird-list__header {
        font-size: calc( 12px + 4 * ((100vw - 600px) / 850)); } }
    @media screen and (min-width: 1450px) {
      .list-header-font, .birds-for-sale .bird-list__nav .bird-list__header {
        font-size: 16px; } }

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }

.col {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap; }

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  margin-bottom: 0; }

* {
  margin: 0;
  padding: 0; }

body {
  overflow-x: hidden; }

.header {
  grid-column: 1 / span 12;
  grid-row: 1 / span 1;
  background-color: #225e00;
  padding: 10px 0px; }
  .header .wrapper {
    padding: 0 40px; }
  .header .row {
    justify-content: space-between;
    align-items: center; }
  .header .brand div {
    vertical-align: middle;
    display: inline; }
  .header .brand img {
    vertical-align: middle;
    margin-right: 10px;
    width: 60px;
    height: 60px; }
  .header .menu {
    display: none; }
    .header .menu img {
      width: 40px; }
    .header .menu button {
      background: none;
      border: none; }
      .header .menu button:hover {
        cursor: pointer; }

nav {
  display: inline; }

.navigation {
  background-color: #efe9df;
  grid-column: 1 / span 12;
  grid-row: 2 / span 1; }
  .navigation .navigation__group {
    list-style: none; }
  .navigation .navigation__item a {
    color: #191512;
    text-decoration: none;
    padding: 8px 12px; }
    .navigation .navigation__item a:hover {
      background-color: #e23406;
      color: #efe9df; }
    .navigation .navigation__item a:active {
      color: #191512; }

.footer {
  grid-column: 1 / span 12;
  grid-row: 6 / span 1; }
  .footer .wrapper:after {
    content: "";
    margin: 40px 40px 0 0;
    background: #ffffff;
    width: 100%;
    height: 2px;
    border-radius: 3px; }
  .footer .wrapper {
    background-color: #191512;
    padding-top: 50px;
    justify-content: space-between; }
    .footer .wrapper h3 {
      margin-bottom: 10px; }
    .footer .wrapper a {
      text-decoration: none; }
    .footer .wrapper .row {
      justify-content: space-around;
      width: 50%; }
  .footer .footer__location .location-details :first-child {
    margin-top: 0px; }
  .footer .footer__location .location-details :last-child {
    margin-bottom: 0px; }
  .footer .footer__location div {
    margin: 20px 0; }
  .footer .footer__navigation .links :first-child {
    margin-top: 0; }
  .footer .footer__navigation a {
    margin: 10px 0; }
  .footer .footer__opening .timetable :first-child {
    margin-top: 0; }
  .footer .footer__opening .timetable div {
    margin: 20px 0; }
  .footer .footer__contact .contact-details :first-child {
    margin-top: 0; }
  .footer .footer__contact .contact-details div {
    margin: 20px 0; }
  .footer .footer__icon {
    justify-content: center;
    padding: 20px 0;
    align-content: center;
    background-color: #191512; }
    .footer .footer__icon .icon__btn {
      cursor: pointer;
      background: none;
      border: none;
      outline: none; }

.section-alignment, .about__who-are-we, .about__what-do-we-do {
  display: flex;
  align-self: center;
  justify-content: center;
  padding-bottom: 40px; }

.section {
  grid-column: 1 / span 12;
  margin-bottom: 100px; }
  .section img {
    margin-top: 5px;
    width: 100%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0px 0px 6px 2px lightgray; }
  .section h2 {
    color: #191512;
    padding: 25px 0; }
  .section h3 {
    padding-top: 30px;
    margin-bottom: 4px;
    color: #191512; }

.banner-height, .banner, .banner__image, .banner__image img {
  height: 500px; }

.banner {
  background-color: #191512;
  grid-column: 1 / span 12;
  grid-row: 3 / span 1; }

.banner__text {
  grid-column: 1 / span 5;
  grid-row: 3 / span 1;
  text-align: center;
  align-self: center; }
  .banner__text h2 {
    margin: 50px 0; }

.banner__image {
  grid-column: 6 / span 12;
  grid-row: 3 / span 1; }
  .banner__image img {
    object-fit: cover;
    width: 100%; }

.welcome {
  grid-column: 1 / span 12;
  grid-row: 4 / span 1;
  padding: 30px 0;
  line-height: 35px; }
  .welcome h3 {
    color: #191512; }

.bird-categories {
  grid-column: 1 / span 12;
  grid-row: 5 / span 1;
  background-color: #efe9df; }
  .bird-categories .wrapper .row {
    width: 50%;
    padding: 50px 0;
    justify-content: space-around; }

.border-bottom, .about-content h2, .about__who-are-we, .about__what-do-we-do {
  background-image: linear-gradient(to right, #191512 50%, #ffffff 0%);
  background-position: bottom;
  background-size: 34px 2px;
  background-repeat: repeat-x; }

.about__who-are-we img {
  max-width: 800px; }

.about__who-are-we p {
  margin-left: 20px; }

.about__what-do-we-do p {
  margin-right: 20px; }

.bird-list__container {
  background-color: #efe9df; }
  .bird-list__container ul {
    list-style: none; }
  .bird-list__container .bird-list__item {
    background-color: #ffffff;
    border-radius: 6px;
    display: flex;
    flex-direction: column; }
    .bird-list__container .bird-list__item .bird-list__item__header {
      background-color: #225e00;
      color: #ffffff;
      font-size: 22px;
      padding: 4px 12px 6px 12px;
      border-top-left-radius: 6px;
      border-top-right-radius: 6px; }
    .bird-list__container .bird-list__item .bird-list__item__content {
      display: flex;
      flex-direction: row;
      padding: 20px 60px; }
      .bird-list__container .bird-list__item .bird-list__item__content .bird-list__img img {
        width: 200px;
        height: 200px;
        border-radius: 100px; }

.birds-for-sale {
  padding: 0 60px; }
  .birds-for-sale .bird-list__nav {
    background-color: #efe9df; }
    .birds-for-sale .bird-list__nav .bird-list__header h4 {
      display: inline; }
    .birds-for-sale .bird-list__nav .dropdown-menu {
      float: right; }

.btn {
  padding: 8px 12px;
  text-align: center;
  border: none;
  border-radius: 4px; }
  .btn:hover {
    cursor: pointer; }
  .btn:active {
    outline: 0; }
  .btn:focus {
    outline: 0; }

.btn__primary {
  font-size: 22px;
  background-color: #e23406;
  color: #efe9df; }
  .btn__primary:hover {
    background-color: #225e00; }
  .btn__primary:active {
    background-color: #e23406; }

.card {
  border: 0.1rem solid #191512;
  background-color: #ffffff;
  border-radius: 6px;
  width: 300px; }
  .card .card__header {
    background-color: #191512;
    font-size: 22px;
    padding: 4px 12px 6px 12px; }
  .card img {
    width: 300px;
    height: 160px;
    object-fit: cover; }
  .card .card__body {
    padding: 0 10px; }
    .card .card__body .card__text {
      margin: 5px 0; }
    .card .card__body button {
      margin-bottom: 15px;
      float: right; }

/* Desktop - Below */
@media (max-width: 1450px) {
  .wrapper {
    padding: 0px 110px; }
  .banner__text {
    grid-column: 1 / span 5; }
  .banner__image {
    grid-column: 6 / span 12; }
  .bird-categories .wrapper .row {
    padding: 30px 0 0 0; }
  .bird-categories .wrapper .card {
    margin-bottom: 30px; }
  .footer .wrapper:after {
    margin: 40px 25px 0px 25px; } }

/* Desktop - Above */
@media (min-width: 1450px) {
  .wrapper {
    padding: 0px 200px; }
  .header .wrapper {
    padding: 0px 132px; }
  .banner__text {
    grid-column: 1 / span 5; }
  .banner__image {
    grid-column: 6 / span 12; }
  .section {
    margin-bottom: 200px; } }

/* Laptop - Below */
@media (max-width: 1100px) {
  .banner__text {
    grid-column: 1 / span 6; }
  .banner__image {
    grid-column: 7 / span 12; }
  .footer .wrapper:after {
    margin: 40px 0px 0px 0px; }
  .footer .wrapper .row {
    width: 100%;
    justify-content: space-between; }
    .footer .wrapper .row .footer__contact, .footer .wrapper .row .footer__navigation {
      text-align: right; }
    .footer .wrapper .row .footer__opening, .footer .wrapper .row .footer__contact {
      margin-top: 20px; } }

/* Laptop - Between */
/* Laptop - Above */
@media (min-width: 1100px) {
  .about__what-do-we-do img {
    min-width: 350px; } }

/* Tablet - Below */
@media (max-width: 900px) {
  .wrapper {
    padding: 0px 50px; }
  .header .wrapper {
    padding: 0px 15px; }
  .header .phone {
    display: none; }
  .header .menu {
    display: block; }
  .navigation__group {
    height: 0;
    padding: 0;
    flex-direction: column !important;
    text-align: center;
    flex-wrap: nowrap;
    overflow: hidden; }
  .navigation__item {
    padding: 0; }
    .navigation__item a {
      display: inline-block;
      width: 100%; }
      .navigation__item a:hover {
        background-color: #e23406;
        color: #efe9df; }
      .navigation__item a:active {
        color: #191512; }
  .bird-categories .wrapper .row {
    width: 100%;
    flex-direction: column; }
  .bird-categories .wrapper .card {
    align-self: center; }
  .banner, .section {
    grid-row: 4 / span 1; }
  .banner-height, .banner, .banner__image, .banner__image img {
    height: 380px; }
  .banner__text {
    grid-column: 1 / span 12;
    grid-row: 4 / span 1; }
    .banner__text h2 {
      margin: 35px 0; }
  .banner__image {
    grid-column: 1 / span 12;
    grid-row: 3 / span 1; }
  .welcome {
    grid-row: 5 / span 1; }
  .bird-categories {
    grid-row: 6 / span 1; }
  .section h3 {
    padding-top: 25px; }
  .footer {
    grid-row: 7 / span 1; }
    .footer .wrapper:after {
      margin: 50px 0px 0px 0px; } }

/* Tablet - Between */
@media (min-width: 900px) and (max-width: 1100px) {
  .about__what-do-we-do img {
    min-width: 300px; } }

/* Tablet - Above */
@media (min-width: 900px) {
  .navigation__item {
    padding: 8px 0px; }
  .section {
    margin-left: 10px; } }

/* Phone - Below */
@media (max-width: 600px) {
  .wrapper {
    padding: 0px 20px; }
  .heading__text {
    display: none !important; }
  .section .about__who-are-we div,
  .section .about__what-do-we-do div {
    text-align: center; }
  .section .about__who-are-we p,
  .section .about__what-do-we-do p {
    margin-bottom: 20px;
    margin-left: 0; }
  .section .about__who-are-we {
    flex-direction: column-reverse; }
    .section .about__who-are-we img {
      max-width: 250px; }
    .section .about__who-are-we p {
      margin-left: 0; }
  .section .about__what-do-we-do {
    flex-direction: column; }
    .section .about__what-do-we-do img {
      max-width: 300px; }
    .section .about__what-do-we-do p {
      margin-right: 0; }
  .footer .wrapper:after {
    margin: 60px 0px 0px 0px; }
  .footer .row.wrapper .row {
    flex-direction: column;
    align-content: center; }
    .footer .row.wrapper .row .footer__contact,
    .footer .row.wrapper .row .footer__navigation,
    .footer .row.wrapper .row .footer__opening {
      margin-top: 20px; }
    .footer .row.wrapper .row .footer__contact,
    .footer .row.wrapper .row .footer__navigation {
      text-align: left; }
    .footer .row.wrapper .row .footer__contact,
    .footer .row.wrapper .row .footer__opening {
      margin-left: -22px; } }

/* Phone - Between */
@media (min-width: 600px) and (max-width: 900px) {
  .about__what-do-we-do img {
    min-width: 250px; } }

#messages {
  padding: 0px; }
  #messages li {
    list-style: none; }
  #messages .alert-success_msg {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6; }
  #messages .error {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1; }

#dropArea {
  height: 300px;
  width: 300px;
  border: 3px dashed green;
  border-radius: 8px; }

.highlight-upload .st0 {
  stroke: green; }

.unhighlight-upload .st0 {
  stroke: black; }

.show-menu {
  transition: height 0.6s; }
  @media (max-width: 600px) {
    .show-menu {
      height: 228px; } }
  @media (min-width: 600px) {
    .show-menu {
      height: 232px; } }

.hide-menu {
  height: 0px;
  transition: height 0.6s; }

.show {
  visibility: visible; }

.hidden {
  visibility: hidden; }

#sortby-input, #page-input {
  display: none; }
