@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600|Raleway:700");
.header-font, .header, .banner__text h1 {
  font-family: 'Raleway', sans-serif;
  color: white;
  font-size: 28px; }

.sub-header-font, .btn__primary, .card .card__header, .navigation .navigation__item, .banner__text h2, .welcome h3 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: #E23406; }

.body-font, p, .welcome p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #191512; }

.wrapper {
  padding: 0px 110px; }

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }

.col {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap; }

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  margin-bottom: 0; }

* {
  margin: 0;
  padding: 0; }

.btn {
  padding: 8px 12px;
  text-align: center;
  border: none;
  border-radius: 4px; }
  .btn:hover {
    cursor: pointer; }
  .btn:active {
    outline: 0; }
  .btn:focus {
    outline: 0; }

.btn__primary {
  font-size: 22px;
  background-color: #E23406;
  color: #EFE9DF; }
  .btn__primary:hover {
    background-color: #225E00; }
  .btn__primary:active {
    background-color: #E23406; }

.card {
  border: 0.1rem solid #191512;
  border-radius: 6px;
  margin-left: -2px;
  width: 300px; }
  .card .card__header {
    color: #EFE9DF;
    background-color: #191512;
    font-size: 22px;
    padding: 5px 15px; }
  .card img {
    width: 300px;
    height: 160px;
    object-fit: cover; }
  .card .card__body {
    padding: 0 10px; }
    .card .card__body .card__text {
      margin: 5px 0; }
    .card .card__body button {
      font-size: 18px;
      margin-bottom: 15px;
      float: right; }

.header {
  grid-column: 1 / span 12;
  grid-row: 1 / span 1;
  background-color: #225E00;
  color: #EFE9DF;
  padding: 10px 0px; }
  .header .wrapper {
    padding: 0 40px; }
  .header .row {
    justify-content: space-between;
    align-items: center; }
  .header .brand div {
    vertical-align: middle;
    display: inline; }
  .header .brand img {
    vertical-align: middle;
    margin-right: 12px;
    width: 60px;
    height: 60px; }
  .header .menu {
    display: none; }
    .header .menu img {
      width: 40px; }
    .header .menu button {
      background: none;
      border: none; }
      .header .menu button:hover {
        cursor: pointer; }

.nav-padding, .navigation .navigation__group, .navigation .navigation__item {
  padding: 8px 0px; }

.navigation {
  background-color: #EFE9DF;
  grid-column: 1 / span 12;
  grid-row: 2 / span 1; }
  .navigation .navigation__item {
    color: #191512;
    text-decoration: none;
    padding-right: 10px;
    padding-left: 10px; }
    .navigation .navigation__item:hover {
      background-color: #E23406;
      color: #EFE9DF; }
    .navigation .navigation__item:active {
      color: #191512; }

.footer {
  grid-column: 1 / span 12;
  grid-row: 6 / span 1;
  justify-content: space-between; }

.banner-height, .banner, .banner__image, .banner__image img {
  height: 500px; }

.banner {
  background-color: #191512;
  grid-column: 1 / span 12;
  grid-row: 3 / span 1; }

.banner__text {
  grid-column: 1 / span 5;
  grid-row: 3 / span 1;
  text-align: center;
  align-self: center; }
  .banner__text h1 {
    color: #EFE9DF;
    margin-bottom: 50px;
    font-size: 48px; }
  .banner__text h2 {
    color: #EFE9DF;
    font-size: 26px; }
  .banner__text button {
    margin-top: 50px; }

.banner__image {
  grid-column: 6 / span 12;
  grid-row: 3 / span 1; }
  .banner__image img {
    object-fit: cover;
    width: 100%; }

.welcome {
  grid-column: 1 / span 12;
  grid-row: 4 / span 1;
  padding: 50px 0;
  line-height: 30px; }
  .welcome h3 {
    font-size: 34px;
    margin-bottom: 10px;
    color: #191512; }
  .welcome p {
    font-size: 20px; }

.bird-categories {
  grid-column: 1 / span 12;
  grid-row: 5 / span 1;
  background-color: #EFE9DF; }
  .bird-categories .row {
    justify-content: space-between; }

#messages {
  padding: 0px; }
  #messages li {
    list-style: none; }
  #messages .alert-success_msg {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6; }
  #messages .error {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1; }

/* Phone - Below 1000px */
@media (max-width: 1400px) {
  .banner__text {
    grid-column: 1 / span 6; }
  .banner__image {
    grid-column: 7 / span 12; } }

/* Tablet - Below 1400px */
@media (max-width: 1000px) {
  .header {
    padding: 10px 30px; }
    .header .phone {
      display: none; }
    .header .menu {
      display: block; }
  .navigation__background {
    display: none; }
  .navigation__group {
    display: none; }
  .navigation__item {
    display: none; }
  .banner-height, .banner, .banner__image, .banner__image img {
    height: 380px; }
  .banner {
    grid-row: 3 / span 1; }
  .banner__text {
    grid-column: 1 / span 12;
    grid-row: 3 / span 1; }
    .banner__text h1 {
      margin-bottom: 35px; }
    .banner__text button {
      margin-top: 35px; }
  .banner__image {
    grid-column: 1 / span 12;
    grid-row: 2 / span 1; } }

/* Phone - Below 600px */
@media (max-width: 600px) {
  .header {
    padding: 10px 10px; }
    .header .brand__text {
      display: none; }
  .banner-height, .banner, .banner__image, .banner__image img {
    height: 300px; }
  .banner__text h1 {
    margin-bottom: 25px;
    font-size: 34px; }
  .banner__text h2 {
    font-size: 20px; }
  .banner__text button {
    margin-top: 25px;
    font-size: 20px; }
  .welcome {
    padding: 40px 0;
    line-height: 26px; }
    .welcome h3 {
      font-size: 30px; }
    .welcome p {
      font-size: 16px; } }

#dropArea {
  height: 300px;
  width: 300px;
  border: 3px dashed green;
  border-radius: 8px; }

.highlight-upload .st0 {
  stroke: green; }

.unhighlight-upload .st0 {
  stroke: black; }

#sortby-input, #page-input {
  display: none; }
