.border-bottom {
  background-image: linear-gradient(to right, $dark
  50%, $white 0%);
  background-position: bottom;
  background-size: 34px 2px;
  background-repeat: repeat-x;
}

.about-content {
  h2 {
    @extend .border-bottom;
  };
}

.about__who-are-we {
  @extend .border-bottom;
  @extend .section-alignment;

  img {
    max-width: 800px;
  }

  p {
    margin-left: 20px;
  }
}

.about__what-do-we-do {
  @extend .border-bottom;
  @extend .section-alignment;

  p {
    margin-right: 20px;
  }
}