.border-bottom {
  background-image: linear-gradient(to right, $dark
  50%, $white 0%);
  background-position: bottom;
  background-size: 30px 2px;
  background-repeat: repeat-x;
}

.section {
  grid-column: 1 / span 12;

  img {
    margin-top: 5px;
    width: 100%;
    height: auto;
  }

  h2 {
    @extend .border-bottom;
  }
}

.section__who-are-we {
  @extend .border-bottom;
  display: flex;
  align-self: center;
  justify-content: center;
  //margin: 60px 0;

  p {
    margin-left: 20px;
  }
}