@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600|Raleway:700');

/* 
  fluid-type($min-v, $max-v, $min_font, $max_font);
*/

.header-font {
	@include fluid-type($phone-bp, $laptop-bp, 28px, 34px);
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
	color: $light;
}

.banner-header-font {
	@include fluid-type($phone-bp, $desktop-bp, 36px, 48px);
	font-family: 'Raleway', sans-serif;
	color: $light;
}

.banner-sub-header-font {
	@include fluid-type($phone-bp, $desktop-bp, 24px, 32px);
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	color: $light;
}

.sub-header-font {
	@include fluid-type($phone-bp, $desktop-bp, 24px, 30px);
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	color: $secondary;
}

.section-header-font {
	@include fluid-type($phone-bp, $desktop-bp, 18px, 22px);
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	color: $secondary;
}

.navbar-font {
	@include fluid-type($laptop-bp, $desktop-bp, 22px, 24px);
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	color: $secondary;
}

.body-font {
	@include fluid-type($phone-bp, $laptop-bp, 14px, 20px);
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	color: $dark;
}

.footer-header-font {
	@include fluid-type($phone-bp, $desktop-bp, 20px, 24px);
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	color: $light;
}

.footer-body-font {
	@include fluid-type($phone-bp, $desktop-bp, 16px, 18px);
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	color: $light;
}

.card-header-font {
	@extend .footer-header-font;
}

.card-body-font {
	@extend .footer-body-font;
	color: $dark;
}

.card-button-font {
	@include fluid-type($phone-bp, $desktop-bp, 14px, 18px);
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	color: $light;
}
