
<% include ../partials/header %>

<div class="">

    <h1>Admin Panel</h1>

    <%- messages() %>

    <form method='POST' action='/api/birds' enctype="multipart/form-data" id="bird-form" name="bird-form">
      <h3>Add Birds</h3>

      <div id="dropArea">
        <svg version="1.1" id="image-upload"  xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
        	 viewBox="0 0 300 300" style="enable-background:new 0 0 300 300;" xml:space="preserve">
        <style type="text/css">
        	.st0{fill:none;stroke:#000000;stroke-width:20;stroke-linecap:round;stroke-miterlimit:10;}
        </style>
        <path class="st0" d="M23.2,152v86.8c0,7,5.6,12.7,12.5,12.7h228.6c6.9,0,12.5-5.7,12.5-12.7V152"/>
        <g>
        	<line class="st0" x1="150.3" y1="47" x2="150.3" y2="212.9"/>
        	<g>
        		<g>
        			<line class="st0" x1="150.8" y1="45.1" x2="184.6" y2="82.8"/>
        		</g>
        		<g>
        			<line class="st0" x1="150.6" y1="45.1" x2="116.8" y2="82.8"/>
        		</g>
        	</g>
        </g>
        </svg>
      </div>

      <div class="custom-file mb-3" >

        <input type="file" name="images" id="image-input" multiple>
        <label for="image-input" id="image-input-label">Choose Image</label>

      </div>

      <div class="form-group">
        <label for="breed">Breed</label>
        <input type="text" name="breed">
      </div>

      <div class="form-group">
        <label for="price">Price</label>
        <input type="number" name="price">
      </div>

      <div class="form-group">
        <label for="breed">Category:</label>
        <br />

        <input type="radio" value="Large Parrot" name="category" aria-label="Radio button for large parrot">
        <label for="large-parrot">Large Parrot</label>
        <br />

        <input type="radio" value="Medium Parrot" name="category" aria-label="Radio button for medium parrot">
        <label for="medium-parrot">Medium Parrot</label>
        <br />

        <input type="radio" value="Small Parrot" name="category" aria-label="Radio button for small parrot">
        <label for="small-parrot">Small Parrot</label>
        <br />

        <input type="radio" value="Poultry" name="category" aria-label="Radio button for poultry">
        <label for="poultry">Poultry</label>
      </div>

      <input type="submit" value="Submit" id="submit-bird">
    </form>

    <form method='POST' action='/api/products'>
      <h3>Add Product</h3>

      <div>
        <label for="name">Product Name</label>
        <input type="text" name="name" class="form-control">
      </div>

      <div>
        <label for="price">Price</label>
        <input type="number" name="price">
      </div>

      <input type="submit" value="Submit">

    </form>

    <form method='POST' action='/api/admins/register'>
      <h3>Add Admin</h3>

      <div>
        <label for="username">Name</label>
        <input type="text" name="username">
      </div>

      <div>
        <label for="password">Password</label>
        <input type="password" name="password">
      </div>

      <div>
        <label for="confirmPassword">Confirm Password</label>
        <input type="password" name="confirmPassword">
      </div>

      <input type="submit" value="Submit">

    </form>
  </div>

<% include ../partials/footer %>
