.card {
	border: 0.1rem solid $dark;
	background-color: $white;
	border-radius: 6px;
	width: 300px;

	.card__header {
		@extend .card-header-font;
		background-color: $dark;
		font-size: 22px;
		padding: 4px 12px 6px 12px;
	}

	img {
		width: 300px;
		height: 160px;
		object-fit: cover;
	}

	.card__body {
		padding: 0 10px;

		.card__text {
			@extend .card-body-font;
			margin: 5px 0;
		}

		button {
			@extend .card-button-font;
			margin-bottom: 15px;
			float: right;
		}
	}
}
