.footer {
	grid-column: 2 / span 10;
	grid-row: 6 / span 1;
	justify-content: space-between;
	align-items: center;
	height: 200px;
}

.footer__location {
}

.footer__opening {
}

.footer__contact {
}
