
.header {
  grid-column: 1 / span 12;
  grid-row: 1 / span 1;
  @extend .header-font;
  background-color: $primary;
  color: $light;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;

  .brand {
    a {
      @extend .header-font;
      color: $light;
      text-decoration: none;

      &:hover {
        color: white;
      }
    } // a

    .brand__img {
      align-items: center;

      img {
        margin-right: 10px;
        width: 60px;
        height: 60px;
      }
    } // brand__img

  } // brand
} // header
