
.navigation__background {
  grid-column: 1 / span 12;
  grid-row: 2 / span 1;
  background-color: $light;
}

.navigation__group {
  grid-column: 2 / 12;
  grid-row: 2 / span 1;

  padding: 10px 0px;
}

.navigation__item {
  @extend .sub-header-font;
  color: $dark;
  text-decoration: none;
  padding: 10px 15px;
  display: inline;

  &:hover {
    background-color: $secondary;
    color: $light;
  }

  &:active {
    color: $dark;
  }
}
