
.navigation__background {
  grid-column: 1 / span 12;
  grid-row: 2 / span 1;
  background-color: $light;
}

.navigation__group {
  grid-column: 2 / 12;
  grid-row: 2 / span 1;

  padding: 10px 0px;
}

.navigation__item {
  @extend .sub-header-font;
  color: $dark;
  text-decoration: none;
  padding: 10px 15px;
  display: inline;

  &:hover {
    background-color: $secondary;
    color: $light;
  }

  &:active {
    color: $dark;
  }
}

// .navigation {
//   grid-column: 1 / span 12;
//   grid-row: 2 / span 1;
//
//   background-color: $light;
//   // padding: 10px 20px;
//
//   .navigation__group {
//     grid-column: 4 / span 5;
//   }
//
//   .navigation__item {
//     @extend .sub-header-font;
//     color: $dark;
//     padding: 10px 15px;
//     // margin-right: 20px;
//     text-decoration: none;
//
//     &:hover {
//       background-color: $secondary;
//       color: $light;
//     }
//
//     &:active {
//       color: $dark;
//     }
//   }

  // background-color: $light;
  // overflow: hidden;
  // padding: 10px 0;
  // @extend .sub-header-font;
  //
  // a {
  //   color: $dark;
  //   text-align: center;
  //   text-decoration: none;
  //   padding: 30px 15px;
  //
  //   &:hover {
  //     background-color: $secondary;
  //     color: $light;
  //   }
  //
  //   &:active {
  //     color: $dark;
  //   }
  // }
