#messages {
	padding: 0px;

	li {
		list-style: none;
	}

	.alert-success {
	}

	.alert-success_msg {
		color: #3c763d;
		background-color: #dff0d8;
		border-color: #d6e9c6;
	}

	.error {
		color: #a94442;
		background-color: #f2dede;
		border-color: #ebccd1;
	}
}

#dropArea {
	height: 300px;
	width: 300px;
	border: 3px dashed green;
	border-radius: 8px;
}

.highlight-upload {
	.st0 {
		stroke: green;
	}
}

.unhighlight-upload {
	.st0 {
		stroke: black;
	}
}

.show-menu {
	transition: height 0.6s;

	@media (max-width: $phone-bp) {
		height: 228px;
	}

	@media (min-width: $phone-bp) {
		height: 232px;
	}
}

.hide-menu {
	height: 0px;
	transition:  height 0.6s;
}

.show {
	visibility: visible;
}

.hidden {
	visibility: hidden;
}

#sortby-input, #page-input {
	display: none;
}
