// .container {
//   max-width: 85%;
// }

.wrapper {
	padding: 0px 110px;
}

.row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.col {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

.grid {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	margin-bottom: 0;
	// grid-auto-rows: auto;
}
