
.welcome {
  grid-column: 2 / span 10;
  grid-row: 4 / span 1;
  padding: 50px 0;
  line-height: 30px;

  h3 {
    @extend .sub-header-font;
    font-size: 34px;
    margin-bottom: 10px;
    color: $dark;
  }

  p {
    @extend .body-font;
    font-size: 20px;
  }
} // welcome