    
    <footer class="footer row">
      <div class="footer__location">
        <h3>Location</h3>
        <p>
          Kilmacanogue House<br>
          Kilmacanogue South<br>
          Co. Wicklow 
        </p>
      </div>

      <div class="footer__navigation">
        <h3>Navigation</h3>
        <a href="#">Home</a><br>
        <a href="#">About Us</a><br>
        <a href="#">Birds for Sale</a><br>
        <a href="#">Contact Us</a>
      </div>

      <div class="footer__opening">
        <h3>Opening Times</h3>
        <p>
          Mon-Fri: Closed<br>
          Sat: 10am-6pm<br>
          Sun: 10am-6pm 
        </p>
      </div>

      <div class="footer__contact">
        <h3>Contact</h3>
        <p>
          086 262 0201<br>
          copsewood@gmail.com<br>
          <a href="#">Follow Us</a>
        </p>
      </div>
    </footer>
  </div> <!-- grid -->
  
  <script src="js/client.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script> -->
</body>
</html>
