<nav class="navigation wrapper">
  <ul class="navigation__group row">
    <li class="navigation__item">
      <a href="/">Home</a>
    </li>
    <li class="navigation__item">
      <a href="/about">About</a>
    </li>
    <li class="navigation__item">
      <a href="/birds">Birds for Sale</a>
    </li>
    <li class="navigation__item">
      <a href="/contact">Contact</a>
    </li>
    <li class="navigation__item">
      <% if (user) { %>
        <a href="/admin-panel">Admin Panel</a>
        <a href="/admins">Admins</a>
        <a href="/api/admins/logout">Logout</a>
      <% } else { %>
        <a href="/login">Login</a>
      <% } %>
    </li>
  </ul>
</nav>