
<nav class="navigation">

  <div class="container">
    <a class="" href="/">Home</a>
    <a class="" href="/about">About</a>
    <a class="" href="/birds">Birds for Sale</a>
    <a class="" href="/contact">Contact</a>
    <% if (user) { %>
      <a class="" href="/admin-panel">Admin Panel</a>
      <a class="" href="/admins">Admins</a>
      <a class="" href="/api/admins/logout">Logout</a>
    <% } else { %>
      <a class="" href="/login">Login</a>
    <% } %>
  </div>

</nav>
