
<section class="section wrapper birds-for-sale">
    <h2>Birds for Sale</h2>
    <div class="bird-list__nav">
        <span class="bird-list__header">
            <h4><%= total %> Results</h4>
        </span>
        <span class="bird-list__header dropdown-menu">
                <h4>Filter By</h4>
        </span>
        <span class="bird-list__header dropdown-menu">
                <h4>Sort By</h4>
            </span>
    </div>
    <% include birds-list.ejs %>
</section>