
<section class="section wrapper">
    <h2>Birds for Sale</h2>
    <nav class="list__nav">
        <span class="list__header">
            <h4><%= total %> Results</h4>
        </span>
        <span class="list__header">
            <h4>Filter By</h4>
        </span>
        <span class="list__header">
            <h4>Sort By</h4>
        </span>
    </nav>
</section>