/* Phone - Below */
@media (max-width: $phone-bp) {
	.wrapper {
		padding: 0px 20px;
	}

	.heading__text {
		display: none !important;
	}

	.section {
		.section__who-are-we {
			flex-direction: column-reverse;

			div {
				text-align: center;
			}

			img {
				max-width: 250px;
				height: auto;
			}

			p {
				margin-bottom: 20px;
			}
		}
	}

	.footer {	
		.wrapper:after { 
			margin: 60px 0px 0px 0px; 
		}

		.row.wrapper {
			.row {
				flex-direction: column;
				align-content: center;

				.footer__contact, .footer__navigation, .footer__opening {
					margin-top: 20px;
				}

				.footer__contact, .footer__navigation {
					text-align: left;
				}

				.footer__contact, .footer__opening {
					margin-left: -22px;
				}
			}
		}
	} // footer
}
