.banner-height {
  height: 500px;
}

.banner {
  @extend .banner-height;
  background-color: $dark;
  grid-column: 1 / span 12;
  grid-row: 3 / span 1;
}

.banner__text {
  grid-column: 1 / span 5;
  grid-row: 3 / span 1;
  text-align: center;
  align-self: center;

  h1 {
    @extend .banner-header-font;
  }

  h2 {
    @extend .banner-sub-header-font;
    margin: 50px 0;
  }
}

.banner__image {
  grid-column: 6 / span 12;
  grid-row: 3 / span 1;
  @extend .banner-height;

  img {
    @extend .banner-height;
    object-fit: cover;
    width: 100%;
  }
}
