
<section class="section wrapper">
    <h2>About Copsewood</h2>
    <h3>Who Are We?</h3>
    <div class="section__who-are-we">
        <div>
            <img src="images/eddie.jpg" alt="">
        </div>
        <p>
            Lorem ipsum dolor sit amet, consectetur
            adipisicing elit,
            do eiusmod tempor incididunt ut labore et
            dolore magna
            aliqua. Ut enim ad minim veniam, quis
            nostrud exercitation
            ullamco laboris nisi ut aliquip ex ea
            commodo consequat.
            Duis aute irure dolor in reprehenderit in
            voluptate velit
            esse cillum dolore eu fugiat nulla pariatur.
            Excepteur
            sint occaecat cupidatat non proident, sunt
            in culpa qui
            officia deserunt mollit anim id est laborum.
        </p>
    </div>

    <h3>What Do We Do?</h3>
    <div class="section__what-do-we-do">
        <p>
            Lorem ipsum dolor sit amet, consectetur
            adipisicing elit,
            do eiusmod tempor incididunt ut labore et
            dolore magna
            aliqua. Ut enim ad minim veniam, quis
            nostrud exercitation
            ullamco laboris nisi ut aliquip ex ea
            commodo consequat.
            Duis aute irure dolor in reprehenderit in
            voluptate velit
            esse cillum dolore eu fugiat nulla pariatur.
            Excepteur
            sint occaecat cupidatat non proident, sunt
            in culpa qui
            officia deserunt mollit anim id est laborum.
        </p>
        <div>
            <img src="images/eddie_wife.jpg" alt="">
        </div>
    </div>
</section>